%h1 Welcome to Wit.com, bitches!!
%p For now, there's not a whole lot you can do...

= link_to image_tag('ubuntu.png', :id => 'thumb'), "http://google.com"
= link_to image_tag('centos.png', :id => 'thumb'), "http://google.com"
= link_to image_tag('fedora.png', :id => 'thumb'), "http://google.com"
= link_to image_tag('gentoo.png', :id => 'thumb'), "http://google.com"
= link_to image_tag('windows.png', :id => 'thumb'), "http://google.com"