%h1 Welcome to Wit.com, bitches!!
%p For now, there's not a whole lot you can do...

= link_to image_tag('ubuntu.png', :id => 'thumb'), "/pages/ubuntu/"
= link_to image_tag('centos.png', :id => 'thumb'), "/pages/centos/"
= link_to image_tag('fedora.png', :id => 'thumb'), "/pages/fedora/"
= link_to image_tag('gentoo.png', :id => 'thumb'), "/pages/gentoo/"
= link_to image_tag('windows.png', :id => 'thumb'), "/pages/windows/"
