%h1 Welcome to WIT
%p Click on the images below

= link_to image_tag('ubuntu_final.png', :id => 'thumb', :style => "width: 320px;"), "/pages/ubuntu/"
= link_to image_tag('centos.png', :id => 'thumb', :style => "width: 320px;"), "/pages/centos/"
= link_to image_tag('fedora.png', :id => 'thumb', :style => "width: 320px;"), "/pages/fedora/"
%p
= link_to image_tag('gentoo.png', :id => 'thumb', :style => "width: 320px;"), "/pages/gentoo/"
= link_to image_tag('windows.png', :id => 'thumb', :style => "width: 320px;"), "/pages/windows/"
