%h1 Welcome to Wit
%p
%p We are in super secret stealth mode and looking for a few great alpha users.
%p
%p Give us your email address and we'll hook you up with an invite as soon as we can.

= form_tag user_session_path do
  = text_field_tag 'user[email]'
  = password_field_tag 'user[password]'
  = check_box_tag 'user[remember_me]'
  = label_tag 'user[remember_me]', 'Remember me'
  %button Submit