= form_for @invite_request do |f|
  -if @invite_request.errors.any?
    #error_explanation
      %h2= "#{pluralize(@invite_request.errors.count, "error")} prohibited this invite_request from being saved:"
      %ul
        - @invite_request.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :email
    = f.text_field :email
  .actions
    = f.submit 'Save'
